<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">HowN股市</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">首頁</a>
      </li>
      <li class="nav-item" *ngIf="isAuthenticated">
        <a class="nav-link" routerLink="/portfolios" routerLinkActive="active">投資組合</a>
      </li>
      <li class="nav-item" *ngIf="isAuthenticated">
        <a class="nav-link" routerLink="/shareholding-details" routerLinkActive="active">持股明細</a>
      </li>
    </ul>
    <div>
      <a class="auth-status" routerLink="/auth" *ngIf="!isAuthenticated">登入 <i class="fa-solid fa-right-to-bracket"></i></a>
      <a class="auth-status" *ngIf="isAuthenticated" (click)="openModal(template)">登出 <i class="fa-solid fa-right-from-bracket"></i></a>
    </div>
  </div>
</nav>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">確認提示</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <p>確認登出？</p>
    <button type="button" class="btn btn-primary" (click)="confirm()">是</button>
    <button type="button" class="btn btn-light" (click)="modalRef.hide()">否</button>
  </div>
</ng-template>
