<div class="row">
  <div class="col-md-12 d-flex mt-5 category-panel">
    <button class="btn mr-3" (click)="addCategory.show()">新增類別</button>
    <button class="btn" (click)="editCategories.show(); startEditCategories()">編輯類別</button>
    <button class="btn ml-3" (click)="test()">test</button>
  </div>
  <div class="col-md-12 mt-5">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button
          *ngFor="let category of categories"
          class="nav-link"
          [ngClass]="{'active': category.id === currentCategory.id}"
          id="nav-home-tab" data-toggle="tab"
          data-target="#nav-home"
          type="button"
          role="tab"
          aria-controls="nav-home"
          aria-selected="true"
          (click)="changeTab(category.id)"
        >
          {{ category.categoryName}}
        </button>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <table class="table table-fixed">
        <thead>
          <tr>
            <th>代號</th>
            <th>日期</th>
            <th>成交股數</th>
            <th>成交金額</th>
            <th>開盤價</th>
            <th>最高價</th>
            <th>最低價</th>
            <th>收盤價</th>
            <th>買賣價差</th>
            <th>成交筆數</th>
          </tr>
        </thead>
        <tbody class="list-unstyled">
          <tr *ngFor="let portfolioStockInfo of currentPortfoliosStockInfo">
            <td>{{ portfolioStockInfo.stock_id }}</td>
            <td>{{ portfolioStockInfo.date }}</td>
            <td>{{ portfolioStockInfo.Trading_Volume  | number }}</td>
            <td>{{ portfolioStockInfo.Trading_money  | number }}</td>
            <td>{{ portfolioStockInfo.open  | number }}</td>
            <td>{{ portfolioStockInfo.max  | number }}</td>
            <td>{{ portfolioStockInfo.min  | number }}</td>
            <td>{{ portfolioStockInfo.close  | number }}</td>
            <td>{{ portfolioStockInfo.spread  | number }}</td>
            <td>{{ portfolioStockInfo.Trading_turnover  | number }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div bsModal #addCategory="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name2">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name2" class="modal-title pull-left">新增類別</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="addCategory.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onAddCategorySubmit(f.controls.categoryName.value)" #f="ngForm">
          <input
            type="text"
            class="form-control"
            placeholder="請輸入類別名稱"
            name="categoryName"
            ngModel
            required
            maxlength="6"
            autocomplete="off"
          >
          <button type="submit" class="btn mt-2" [disabled]="f.invalid" (click)="addCategory.hide()">送出</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div bsModal #editCategories="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name2">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name2" class="modal-title pull-left">編輯類別</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="editCategories.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <ng-container *ngFor="let category of categroiesEdited; let i = index">
            <li
              class="list-group-item d-flex align-items-center justify-content-between"
              (dblclick)="startEditCategoryName(category)"
              [class.dragging]="isDragging && i === draggedIndex"
              draggable="true"
              (dragstart)="onDragStart(i)"
              (dragover)="onDragOver($event, i)"
              (dragend)="onDragEnd()"
            >
              <i class="fa-solid fa-bars"></i>
              <span *ngIf="editingItem !== category.categoryName">{{ category.categoryName }}</span>
              <input
                type="text"
                class="form-control ml-3 mr-3"
                *ngIf="editingItem === category.categoryName"
                [value]="category.categoryName"
                (blur)="endEditCategoryName(i)"
                [(ngModel)]="editingName"
              >
              <i class="fa-solid fa-trash" type="button" (click)="deleteCategory(category.id, i)" ></i>
            </li>
          </ng-container>
        </ul>
        <button type="button" class="btn mt-3" (click)="editCategories.hide(); endEditCategories()">確認</button>
        <button type="button" class="btn ml-3"(click)="test()">test</button>
      </div>
    </div>
  </div>
</div>

<div class="loading-overlay" *ngIf="isLoading">
  <div class="spinner-border text-light" role="status">
  </div>
</div>
