<div class="row">
  <div class="col-md-12 d-flex mt-5 category-panel">
    <button class="btn mr-3" (click)="addCategory.show()">新增類別</button>
    <button class="btn" (click)="editCategories.show(); startEditCategories()">編輯類別</button>
  </div>
  <div class="col-md-12 mt-5">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button
          *ngFor="let category of categories"
          class="nav-link"
          [ngClass]="{'active': category.id === currentCategory.id}"
          id="nav-home-tab"
          data-toggle="tab"
          data-target="#nav-home"
          type="button"
          role="tab"
          aria-controls="nav-home"
          aria-selected="true"
          (click)="changeTab(category.id)"
        >
          {{ category.categoryName}}
        </button>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="cards d-flex flex-wrap mt-5">
        <div class="card mr-3 mb-5" style="width: 15rem;" *ngFor="let portfolioStockInfo of currentPortfoliosStockInfo">
          <div class="card-body">
            <h3 class="card-title">{{ portfolioStockInfo.stockId }}</h3>
            <h4 class="card-subtitle mb-5 text-muted">{{ portfolioStockInfo.stockName }}</h4>
            <div class="card-info d-flex mb-3">
              <div class="mr-5">昨收<br><span class="font-weight-bold">{{ portfolioStockInfo.close }}</span></div>
              <div>漲跌幅<br>
                <span class="font-weight-bold" [ngStyle]="{'color': portfolioStockInfo.changeRate == 0 ? 'black' : portfolioStockInfo.changeRate > 0 ? 'red' : '#5fc31c'}">
                  {{ portfolioStockInfo.changeRate }} %
                </span>
              </div>
            </div>
            <div class="card-buttom d-flex align-items-center justify-content-between">
              <a routerLink="#" class="card-link">查看詳細資料</a>
              <i class="fa-solid fa-trash" type="button" (click)="deletePortfolio(portfolioStockInfo.stockId)"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #addCategory="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name2">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name2" class="modal-title pull-left">新增類別</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="addCategory.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onAddCategorySubmit(f.controls.categoryName.value)" #f="ngForm">
          <input
            type="text"
            class="form-control"
            placeholder="請輸入類別名稱"
            name="categoryName"
            ngModel
            required
            maxlength="6"
            autocomplete="off"
          >
          <button type="submit" class="btn mt-2" [disabled]="f.invalid" (click)="addCategory.hide()">送出</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div bsModal #editCategories="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name2">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name2" class="modal-title pull-left">編輯類別</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="editCategories.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <ng-container *ngFor="let category of categroiesEdited; let i = index">
            <li
              class="list-group-item d-flex align-items-center justify-content-between"
              (dblclick)="startEditCategoryName(category)"
              [class.dragging]="isDragging && i === draggedIndex"
              draggable="true"
              (dragstart)="onDragStart(i)"
              (dragover)="onDragOver($event, i)"
              (dragend)="onDragEnd()"
            >
            <div class="d-flex align-items-center">
              <i class="fa-solid fa-bars mr-3"></i>
              <span *ngIf="editingItem !== category.categoryName">{{ category.categoryName }}</span>
              <input
                type="text"
                class="form-control"
                *ngIf="editingItem === category.categoryName"
                [value]="category.categoryName"
                (blur)="endEditCategoryName(i)"
                [(ngModel)]="editingName"
              >
            </div>
            <i class="fa-solid fa-trash float-right ml-3" type="button" *ngIf="categroiesEdited.length > 1" (click)="deleteCategory(category.id, i)" ></i>
            </li>
          </ng-container>
        </ul>
        <button type="button" class="btn mt-3" (click)="editCategories.hide(); endEditCategories()">確認</button>
      </div>
    </div>
  </div>
</div>
