<div class="row mt-5">
  <canvas class="col-md-6" id="chart" [class.d-none]="shareHoldingDetail.length === 0"></canvas>
  <div class="col-md-6 d-flex flex-column justify-content-center">
    <h1>總金額：${{ shareHoldingDetail.length === 0 ? 0 : totalAcount | number }}</h1>
    <button class="btn mt-5 add-btn" (click)="startAddShareholding();addShareholding.show()">新增持股明細</button>
  </div>
</div>

<h1 class="mt-5" *ngIf="shareHoldingDetail.length === 0 && !isLoading">無持股明細，請新增。</h1>

<div class="row mt-5" *ngIf="shareHoldingDetail.length > 0 && !isLoading">
  <select class="custom-select col-md-2 mr-3" [(ngModel)]="selectedSortOption" (ngModelChange)="sortColumn()">
    <option value="dateRise">交易日期 ↑</option>
    <option value="dateDrop" selected>交易日期 ↓</option>
    <option value="stockIdRise">股票代號 ↑</option>
    <option value="stockIdDrop">股票代號 ↓</option>
  </select>
  <button class="btn col-md-2 switch-btn" (click)="switchDisplayMode('sum')" *ngIf="displayMode==='detail'">顯示總覽</button>
  <button class="btn col-md-2 switch-btn" (click)="switchDisplayMode('detail')" *ngIf="displayMode==='sum'">顯示明細</button>
  <button class="btn col-md-2 switch-btn" (click)="test()">test</button>
</div>

<table class="table table-fixed table-hover mt-5 mb-5" *ngIf="displayMode === 'sum' && shareHoldingDetail.length > 0">
  <thead>
    <tr>
      <th>股票代號</th>
      <th>總股數</th>
      <th>總成本</th>
    </tr>
  </thead>
  <tbody class="list-unstyled">
    <tr *ngFor="let detail of shareHoldingSum">
      <td>{{ detail.stockId }}</td>
      <td>{{ detail.stockUnits | number }}</td>
      <td>{{ detail.cost | number }}</td>
    </tr>
  </tbody>
</table>
<table class="table table-fixed table-hover mt-5 mb-5" *ngIf="displayMode === 'detail' && shareHoldingDetail.length > 0">
  <thead>
    <tr>
      <th class="col-md-2">股票代號</th>
      <th class="col-md-2">股數</th>
      <th class="col-md-2">股價</th>
      <th class="col-md-2">成本價</th>
      <th class="col-md-2">交易日期</th>
      <th class="col-md-1">編輯</th>
      <th class="col-md-1">刪除</th>
    </tr>
  </thead>
  <tbody class="list-unstyled">
    <tr *ngFor="let detail of shareHoldingDetail; let i = index">
      <td class="col-md-2" *ngIf="editIndex!==i">{{ detail.stockId}}</td>
      <td class="col-md-2" *ngIf="editIndex===i"><input type="text" minlength="4"[(ngModel)]="detail.stockId"></td>
      <td class="col-md-2" *ngIf="editIndex!==i">{{ detail.stockUnits | number }}</td>
      <td class="col-md-2" *ngIf="editIndex===i"><input type="number" min="1" [(ngModel)]="detail.stockUnits"></td>
      <td class="col-md-2" *ngIf="editIndex!==i">{{ detail.dealPrice | number }}</td>
      <td class="col-md-2" *ngIf="editIndex===i"><input type="number" min="1" [(ngModel)]="detail.dealPrice"></td>
      <td class="col-md-2">{{ detail.stockUnits * detail.dealPrice | number }}</td>
      <td class="col-md-2" *ngIf="editIndex!==i">{{ detail.date }}</td>
      <td class="col-md-2" *ngIf="editIndex===i"><input type="date" [(ngModel)]="detail.date"></td>
      <td class="col-md-1" *ngIf="editIndex!==i && !editItem"><i class="fa-solid fa-pen-to-square" type="button" (click)="startEditShareHoldingDetail(i)"></i></td>
      <td class="col-md-1" *ngIf="editIndex===i"><i class="fa-solid fa-floppy-disk" type="button" (click)="endEditShareHoldingDetail()"></i></td>
      <td class="col-md-1"><i class="fa-solid fa-trash" type="button" (click)="deleteShareHoldingDetail(detail.id)"></i></td>
    </tr>
  </tbody>
</table>

<div bsModal #addShareholding="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name2">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name2" class="modal-title pull-left">新增持股明細</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="addShareholding.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="onAddShareholdingSubmit(form.value)">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">股票代號</span>
            </div>
            <input type="text" class="form-control" placeholder="請選擇股票代號" list="stockId" autocomplete="off" formControlName="stockId" maxlength="6">
            <datalist id="stockId">
              <option *ngFor="let stockInfo of stocksInfo" value="{{stockInfo.stock_id}}">{{ stockInfo.stock_id }} {{ stockInfo.stock_name }}</option>
            </datalist>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">交易日期</span>
            </div>
            <input type="date" class="form-control" placeholder="請選擇交易日期" formControlName="date">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">股數</span>
            </div>
            <input type="number" class="form-control" placeholder="請輸入股數" formControlName="stockUnits" maxlength="8">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">股價</span>
            </div>
            <input type="number" class="form-control" placeholder="請輸入股價" formControlName="dealPrice" maxlength="5">
          </div>
          <button type="submit" class="btn submit-btn" (click)="addShareholding.hide()" [disabled]="form.invalid">確認</button>
        </form>
      </div>
    </div>
  </div>
</div>
