.add-btn {
  width: 300px;
  background-color: #c664ff;
  color: white;
}

.submit-btn {
  background-color: #c664ff;
  color: white;
}

.switch-btn {
  color: #c664ff;
  border: 2px solid #c664ff;
  font-weight: bold;
}
