<form class="row mt-3" (ngSubmit)="onSearchClick()" #f="ngForm">
  <div class="input-group col-md-4">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fas fa-search"></i></span>
    </div>
    <input
      type="text"
      class="form-control"
      placeholder="搜尋台股代號/名稱"
      ngModel
      name="stockKeyword"
      required
      pattern="^[A-Z0-9]*$"
      minlength="4"
      maxlength="6"
      autocomplete="off"
    />
  </div>
  <div class="input-group col-md-3">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fa-solid fa-calendar-days"></i></span>
    </div>
    <input
      type="text"
      class="form-control"
      placeholder=" 請選擇月份"
      ngModel
      name="selectedMonth"
      required
      bsDatepicker
      [bsConfig]="{dateInputFormat: 'YYYY-MM', minMode: 'month'}"
      autocomplete="off"
    />
  </div>
  <button type="submit" class="btn btn-primary col-md-1" [disabled]="f.invalid">查詢</button>
</form>

<div class="mt-5 d-flex align-items-center flex-column" *ngIf="historicalStockData.length === 0">
  <h1 *ngIf="!f.submitted">請輸入查詢資料🙂</h1>
  <h1 *ngIf="errorMsg">{{ errorMsg }}</h1>
</div>

<div *ngIf="historicalStockData.length > 0" class="d-flex mt-5 mb-3 justify-content-between align-items-end">
  <h2>{{ stockInfo.data[0]?.stock_id}} {{ stockInfo.data[0]?.stock_name}}</h2>
  <span type="button">
    加入投資組合
    <i class="fa-star" [class.fa-regular]="!isHovered" [class.fa-solid.fa-regular]="isHovered" (mouseover)="toggleHover(true)" (mouseout)="toggleHover(false)"></i>
  </span>
</div>

<div class="row mt-5" *ngIf="historicalStockData.length > 0">
  <div class="col-md-6">
    <canvas id="chart"></canvas>
  </div>
  <div class="col-md-6 align-self-center">
    <div class="historial-stock-detail">
      <div>日期</div>
      <div>{{historicalStockData[historicalStockData.length - 1].date}}</div>
      <div>成交股數</div>
      <div>{{historicalStockData[historicalStockData.length - 1].Trading_Volume | number}}</div>
      <div>成交金額</div>
      <div>{{historicalStockData[historicalStockData.length - 1].Trading_money | number}}</div>
      <div>開盤</div>
      <div>{{historicalStockData[historicalStockData.length - 1].open | number}}</div>
      <div>收盤</div>
      <div>{{historicalStockData[historicalStockData.length - 1].close | number}}</div>
      <div>最高</div>
      <div>{{historicalStockData[historicalStockData.length - 1].max | number}}</div>
      <div>最低</div>
      <div>{{historicalStockData[historicalStockData.length - 1].min | number}}</div>
      <div>買賣價差</div>
      <div>{{historicalStockData[historicalStockData.length - 1].spread | number}}</div>
      <div>成交筆數</div>
      <div>{{historicalStockData[historicalStockData.length - 1].Trading_turnover | number}}</div>
    </div>
  </div>
</div>

<table class="table table-fixed mt-5">
  <thead>
    <tr>
      <th>日期</th>
      <th>成交股數</th>
      <th>成交金額</th>
      <th>開盤價</th>
      <th>最高價</th>
      <th>最低價</th>
      <th>收盤價</th>
      <th>買賣價差</th>
      <th>成交筆數</th>
    </tr>
  </thead>
  <tbody class="list-unstyled" *ngIf="historicalStockData">
    <tr *ngFor="let stock of historicalStockData">
      <td>{{ stock.date }}</td>
      <td>{{ stock.Trading_Volume  | number }}</td>
      <td>{{ stock.Trading_money  | number }}</td>
      <td>{{ stock.open  | number }}</td>
      <td>{{ stock.max  | number }}</td>
      <td>{{ stock.min  | number }}</td>
      <td>{{ stock.close  | number }}</td>
      <td>{{ stock.spread  | number }}</td>
      <td>{{ stock.Trading_turnover  | number }}</td>
    </tr>
  </tbody>
</table>
