<div class="row mt-3">
  <div class="input-group col-md-4">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fas fa-search"></i></span>
    </div>
    <input type="text" class="form-control" placeholder="搜尋台股代號/名稱" [(ngModel)]="stockKeyword" />
  </div>
  <div class="input-group col-md-3">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fa-solid fa-calendar-days"></i></span>
    </div>
    <input type="text" class="form-control datepicker" placeholder=" 請選擇月份" [(ngModel)]="yearAndMonth" />
  </div>
  <button type="button" class="btn btn-primary col-md-1" (click)="onSearchClick()">查詢</button>
</div>

<div class="mt-5 d-flex align-items-center flex-column" *ngIf="stockData.data.length === 0">
  <h1>請輸入查詢資料🙂</h1>
</div>

<div class="d-flex mt-5 justify-content-between align-items-end">
  <h1 *ngIf="stockData.title">{{ stockData.title }}</h1>
  <span type="button" class="mb-3" *ngIf="stockData.data.length !== 0">加入投資組合 <i class="fa-regular fa-star"></i></span>
</div>

<table class="table table-fixed mt-1" *ngIf="stockData">
  <thead>
    <tr>
      <th>日期</th>
      <th>成交股數</th>
      <th>成交金額</th>
      <th>開盤價</th>
      <th>最高價</th>
      <th>最低價</th>
      <th>收盤價</th>
      <th>漲跌價差</th>
      <th>成交筆數</th>
    </tr>
  </thead>
  <tbody class="list-unstyled">
    <tr *ngFor="let stock of stockData.data">
      <td>{{ stock[0] }}</td>
      <td>{{ stock[1] }}</td>
      <td>{{ stock[2] }}</td>
      <td>{{ stock[3] }}</td>
      <td>{{ stock[4] }}</td>
      <td>{{ stock[5] }}</td>
      <td>{{ stock[6] }}</td>
      <td>{{ stock[7] }}</td>
      <td>{{ stock[8] }}</td>
    </tr>
  </tbody>
</table>

