.input-group-text {
  background-color: #eed1ff;
}

.input-invalid {
  border: 1px solid red;
}

.hint-box {
  color: red;
  font-weight: bolder;
}

.latest-stock-detail {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  border: 2px solid #c664ff;
  padding: 10px;

  &> div:nth-child(2) {
    grid-area: 1 / 2 / 2 / 5;
  }
}

.fa-solid {
  color: #c664ff;
}

.fa-sort {
  display: none;
}

thead {
  background-color: #c664ff;
}

tbody {
  background-color: #eed1ff;
}

th:hover {
  cursor: pointer;

  &> .fa-sort {
    display: inline-block;
  }
}

.search-button, .submit-button, td:hover {
  background-color: #c664ff;
  color: #ffffff;
}

.remove-button {
  border: 1px solid #c664ff;
  color: #c664ff;
}

label {
  width: 100%;
}
