<div class="row mt-3">
  <div class="input-group col-md-4">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fas fa-search"></i></span>
    </div>
    <input type="text" class="form-control" placeholder="搜尋台股代號/名稱" [(ngModel)]="stockKeyword" />
  </div>
  <div class="input-group col-md-3">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fa-solid fa-calendar-days"></i></span>
    </div>
    <input type="text" class="form-control datepicker" placeholder=" 請選擇月份" [(ngModel)]="yearAndMonth" />
  </div>
  <button type="button" class="btn btn-primary col-md-1" (click)="onSearchClick()">查詢</button>
</div>

<div class="mt-5 d-flex align-items-center flex-column" *ngIf="!stocksData">
  <h1>請輸入查詢資料🙂</h1>
</div>

<div class="d-flex mt-5 justify-content-between align-items-end">
  <h2 *ngIf="stocksData">{{ stocksData.title }}</h2>
  <span type="button" class="mb-3" *ngIf="stocksData">
    加入投資組合
    <i class="fa-star" [class.fa-regular]="!isHovered" [class.fa-solid.fa-regular]="isHovered" (mouseover)="toggleHover(true)" (mouseout)="toggleHover(false)"></i>
  </span>
</div>

<div class="row mt-5 mb-5" *ngIf="stocksData">
  <div class="col-md-6">
    <canvas id="chart"></canvas>
  </div>
  <div class="col-md-6 align-self-center">
    <div class="historial-stock-detail">
      <div>日期</div>
      <div>109/04/30</div>
      <div>成交股數</div>
      <div>18,785,156</div>
      <div>成交金額</div>
      <div>1,597,420,751</div>
      <div>開盤</div>
      <div>84.45</div>
      <div>收盤</div>
      <div>85.50</div>
      <div>最高</div>
      <div>85.50</div>
      <div>最低</div>
      <div>84.40</div>
      <div>振幅</div>
      <div>+1.80</div>
      <div>成交筆數</div>
      <div>8,305</div>
    </div>
  </div>
</div>

<table class="table table-fixed mt-1">
  <thead>
    <tr>
      <th>日期</th>
      <th>成交股數</th>
      <th>成交金額</th>
      <th>開盤價</th>
      <th>最高價</th>
      <th>最低價</th>
      <th>收盤價</th>
      <th>漲跌價差</th>
      <th>成交筆數</th>
    </tr>
  </thead>
  <tbody class="list-unstyled" *ngIf="stocksData">
    <tr *ngFor="let stock of stocksData.data">
      <td>{{ stock[0] }}</td>
      <td>{{ stock[1] }}</td>
      <td>{{ stock[2] }}</td>
      <td>{{ stock[3] }}</td>
      <td>{{ stock[4] }}</td>
      <td>{{ stock[5] }}</td>
      <td>{{ stock[6] }}</td>
      <td>{{ stock[7] }}</td>
      <td>{{ stock[8] }}</td>
    </tr>
  </tbody>
</table>
